.bannerWrap{
	background-color: $bgs;
	min-height: 589px;

}
.banner{
	display: flex;
	flex-direction: column;
	// justify-content: center;
	align-items: center;
	position: relative;
	&__head{
		padding-top: 102px;
		max-width: 770px;
	}
	&__form{
		margin-top: 32px;
	}
}
.head__header-banner{
	font-size: 35px;
}
.head__text-banner{
	max-width: 770px;
}
.form{
	font-size: 0px;
	width: 92%;
	min-width:860px; 
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
	position: relative;
}


.inputwrap{
	// width: 100%;
	width: 22%;
	// margin-right: 5%;
	position: relative;
}
.input{
	width: 100%;
	display: block;
	height: 46px;
	background-color: #fff;
	border: none;
	border-radius: 3px;
	font-family: OpenSans, sans-serif;
	font-size: 13px;
	margin-bottom: 5px;
	padding-left: 38px;
	transition: 0.4s;
	color:#b8b8b8;
	&:last-child{
		margin-top: 0;
	}
	&:hover , &:focus{
		box-shadow: 1px 1px 8px #ffa200c4, -1px -1px 8px #ffa200c4, 1px -1px 8px #ffa200c4, -1px 1px 8px #ffa200c4;
		transition:box-shadow 0.15s;

	}
	&::placeholder{
		text-transform: capitalize;
		color: inherit;
	}
	
}
%beforelabel{
	font-family: 'FontAwesome';
	font-size: 16px;
	color:#b8b8b8;
	position: absolute;
	left: 4.5%;
	top:14px;
	transition: 0.5s;

}
.hov{
	&:hover {
		&::before{
			color:$colfontrew;
			transition: color 0.4s;
		}
	}
}
.fa-{
	
	&name{
		&::before{
			content:"\f007";
			@extend %beforelabel;
		}
	}
	&email{
		&::before{
			content:'\f0e0';
			@extend %beforelabel;
		}
	}
	&tel{
		&::before{
			content:'\f095';
			@extend %beforelabel;
		}
	}
}
.slider{
	width: 647px;
	min-height: 344px;
	position: absolute;
	top: 307px;
	display: flex;
	flex-direction: column;
	align-items: center;
	
	&:before{
		content:'';
		display: block;
		width: 647px;
		min-height: 344px;
		background: url('../img/vector-smart-object.png') no-repeat center;
		background-size: contain;
		justify-content: center;
	}
	&__content{
		position: absolute;
		top: 18px;
		border-radius: 2px;
		width: 448px;
		height: 267px;
		overflow: hidden;
		overflow: hidden;
	}
	&__img{
		display: block;
		width: 100%;
		height:auto;
	}
	&__control{
		display: flex;
		width: 56px;
		justify-content: space-between;
		margin-top: 24px;
	}
}
.circle{
	width: 12px;
	height: 12px;
	border: solid 2px $colfont;
	border-radius: 50%;
	transition: 0.8s;
	&:hover, &:focus{
		border-color: $colfontrew;
		transition: 0.2s;

	}
	&:active{
		border-color: $colactive;
		background-color: $colactive;
		transition: 0.2s;

	}
}